<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/output.css" />
    <title>Home</title>
  </head>
  <body class="p-0 m-0">
    <main class="font-sans box-border">
      <header class="flex flex-col items-center">Armin Mesic</header>
      <nav
        class="bg-red-300 flex flex-col items-center p-2 w-screen md:flex-row justify-evenly"
      >
        <a href="#" class="px-4 py-2">Home</a>
        <a href="#" class="px-4 py-2">Projekter</a>
        <a href="#" class="px-4 py-2">Om mig</a>
      </nav>
      <div class="p-2 flex flex-col items-center">
        <h1 class="text-2xl md:items-start">Armin Mesic</h1>
        <img
          class="block mx-auto max-w-full md:max-w-md rounded-full"
          src="/img/Armin.jpg"
          alt="Profilbilled"
        />
        <p class="text-sm md:text-base">Jeg er en webudvikler</p>
      </div>
    </main>
  </body>
</html>
